div{
    /* height */
    height:200px;
    /* width */
    width:500px;
    /* color */
    background-color:pink;
    /* border properties */
    /* border-width:5px;
    border-style:solid;
    border-color:black; */

    /* border shorhand  */
    border:5px solid black;
    /* border sides  */

    /* border-left:5px dashed green; */

    /* border top */
    /* border-top:5px dashed blue; */

    /* border radius  */

    border-radius:10px; 
    /* border-top-right-radius:15px;  */

    /* padding property  */

    padding-top:30px;

    /* margin property  */

    /* margin-bottom:20px; */

    /* margin-left:20px; */

    margin:20px 10px 20px 10px;
}
h1{
    color:brown;
    /* border-width:2px;
    border-style:dashed;
    border-color:purple; */

    /* boreder shorthand  */
    border:2px dashed purple;
}
button{
    border:2px solid blue;
    border-radius:10px;
    /* padding-left:20px;
    padding-right:20px; */
    background-color:yellow;
    padding:0px 10px 0px 10px;
}
